$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: url("../images/bg-mobile.svg") center no-repeat;
  background-size: 100%;
  padding: 1em 0;
}

.main {
  @include flex;
  width: 100%;
  height: 100vh;

  &__container {
    @include flex;
    flex-direction: column;
  }

  &__options {
    @include flex;
    background: $dark-blue;
    width: 325px;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.4em;
    padding: 3.2em;
    border-radius: 8px 90px 8px 8px;

    div {
      display: flex;
      a {
        background: $very-dark-blue;
        display: flex;
        margin: 2.4em 1em 0 0;
        padding: 1.2em;
        border-radius: 1em;
      }
    }
  }

  &__info {
    @include flex;
    background: $dark-blue;
    width: 325px;
    height: 160px;
    position: relative;
    flex-direction: column;
    padding: 2em;
    border-radius: 8px 8px 8px 8px;
    color: $pale-blue;
  }

  .main__text--bold {
    font-weight: 700;
  }

  &__detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
  }

  &__progress {
    width: 100%;
    height: 28px;
    position: relative;

    &--full {
      background: linear-gradient(to right, #ffa399, #ff4d97);
      width: 68%;
      height: 14px;
      position: absolute;
      bottom: 10px;
      left: 4px;
      z-index: 1;
      border-radius: 25px;
      .main__circle {
        background: white;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 2px;
        top: 2px;
        border-radius: 50%;
      }
    }

    .main__bar {
      background: $very-dark-blue;
      width: 100%;
      height: 22px;
      position: absolute;
      z-index: 0;
      border-radius: 25px;
    }

    &--bold {
      display: flex;
      justify-content: space-between;
      span {
        font-weight: 700;
      }
    }
  }

  &__msg {
    @include flex;
    background: white;
    width: 182px;
    height: 70px;
    position: absolute;
    bottom: -40px;
    border-radius: 8px 8px 8px 8px;
    color: $dark-blue;
    .main__msg--number {
      margin-right: 0.2em;
      font-size: 2.6em;
      font-weight: 700;
    }

    .main__msg--text {
      color: $grayish-blue;
      font-size: 0.9em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  @media only screen and (min-width: 1440px) {
    &__container {
      flex-direction: row;
      align-items: flex-end;
    }

    &__options {
      margin: 0;
      margin-right: 1em;
    }

    &__info {
      width: 605px;
      align-items: flex-start;
    }

    &__msg {
      bottom: 0;
      top: -40px;
      right: 30px;
      border-bottom-right-radius: 0;
      &::after {
        content: "";
        background: white;
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(100% - 10px);
        right: -0.3px;
        clip-path: polygon(100% 100%, 0% 0%, 100% 0);
      }
    }
  }
}

.attribution {
  font-size: 0.5em;
  color: white;
  text-align: center;

  a {
    font-size: 0.8em;
    color: hsl(335, 100%, 65%);
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background: url("../images/bg-desktop.svg") bottom no-repeat,
      $very-dark-blue top;
    background-position-y: 360px;
    background-size: 100%;
  }

  .attribution {
    font-size: 1em;
    a {
      font-size: 1.2em;
    }
  }
}
